<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
        <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
    <header>

      <div class="principal">
      <section class="top-bar">
  	<figure>
      <img src="/images/logo-mercado-liebre.svg" class="logo">
    </figure>
  
    <div class= "form">
    <form action="/search" method="GET"> 
    	<input type="text" name="keyword" id="keyword" placeholder="Buscá productos, marcas..." >
      <button type="submit"> 
      	<i class="fas fa-search"></i>
      </button>
    </form>
  </section>

   	<section >
      <h2 class="copy-header">
      	<i class="fas fa-hand-holding-usd"></i>
      	Compra en cuotas y sin tarjeta de credito
      </h2>
    </section>
    </div>
  

  	<nav id="burger-menu">
      <a href="#">
        <i class="fas fa-bars"></i>
      </a>
    </nav>
  
   
    <nav class="show-mobile">   
      <ul>
          <li>
            <a href="/">Ofertas</a>
          </li>
          <li>
            <a href="/">Tiendas Oficiales</a>
          </li>
          <li>
            <a href="/">Vender</a>
          </li>
          <li>
            <a href="/">Ayuda</a>
          </li>
      </ul>
    </nav> 
  
    <nav class="login" id="login-bar">
      <ul>
          <li>
            <a href="/register.html">
              Crea tu cuenta
              <i class="far fa-id-card"></i>
            </a>
          </li>
          <li>
            <a href="/login.html">
              Ingresa
              <i class="fas fa-sign-in-alt"></i>
            </a>
          </li>
          <li>
            <a href='/'>
              Mis Compras
              <i class="fas fa-shopping-basket"></i>
            </a>
          </li>
      </ul>
    </nav> 
 
  
</header> 


<!-- Fin del Header -->

<!-- Main -->
<main>
  <figure id="banner">
      <img src="/images/img-home-banner.jpg" alt="Home Banner">
    </figure>
    <h3 class="titulares">Basado en tu última visita</h3>
  <!-- Section -->
	<section>
  	
    <!-- Article -->
      <article>
        <figure>	
          <img src="/images/img-cafetera-moulinex.jpg" alt="imagen cafetera">
         
        </figure>
       
        <section class="producto">
          <i class="fas fa-truck"></i>                 
          
          <div class="precio-descuento">

          <p class="precios">$6.770</p>
         
          <p class="descuentos">40% OFF</p>
          </div>
          <h3 class="titulares-secundarios">Cafetera Moulinex</h3>
      	</section>
      </article>
    <!-- Fin de Article -->


    <article>
      <figure><img src="/images/img-macbook-pro-2019.jpg"></figure>
<section class="producto">
  <i class="fas fa-truck"></i>
  <div class="precio-descuento">

 <p class= "precios">$230.000</p>
<p class ="descuentos">20% off</p>
</div>
<h3 class="titulares-secundarios">MacBook Pro 2019</h3>
</section>
</article>

<article>
  <figure><img src="/images/img-samsung-galaxy-s10.jpg"></figure>
<section class="producto"> 
  <i class="fas fa-truck"></i>
  <div class="precio-descuento">

<p class= "precios">$70.500</p>
<p class ="descuentos">10% off</p>
  </div>
<h3 class="titulares-secundarios">Samsung Galaxy S10</h3>
</section>
</article>

<article>
<figure><img src="/images/img-tv-samsung-smart.jpg"></figure>
<section class="producto">
  <i class="fas fa-truck"></i>
  <div class="precio-descuento">

  <p class= "precios">$23.200</p>
<p class ="descuentos">5% off</p>
</div>
<h3 class="titulares-secundarios">SmartTv Samsung 43</h3>
</section>
</article>

<h3 class="titulares">Ofertas</h3>
<article>
  <figure>  
    <img src="/images/img-cafetera-moulinex.jpg" alt="imagen cafetera">
  </figure>
  <section class="producto">
    <i class="fas fa-truck"></i>
    <div class="precio-descuento">

    <p class="precios">$6.770</p>
    <p class="descuentos">40% OFF</p>
    </div>
    <h3 class="titulares-secundarios">Cafetera Moulinex</h3>
  </section>
</article>
<!-- Fin de Article -->
<article>
<figure><img src="/images/img-macbook-pro-2019.jpg"></figure>
<section class="producto"> 
  <i class="fas fa-truck"></i>
  <div class="precio-descuento">

<p class= "precios">$230.000</p>
<p class ="descuentos">20% off</p>
</div>
<h3 class="titulares-secundarios">MacBook Pro 2019</h3>
</section>
</article>

<article>
<figure><img src="/images/img-samsung-galaxy-s10.jpg"></figure>
<section class="producto">
  <i class="fas fa-truck"></i>
  <div class="precio-descuento">

  <p class= "precios">$70.500</p>
<p class ="descuentos">10% off</p>
</div>
<h3 class="titulares-secundarios">Samsung Galaxy S10</h3>
</section>
</article>
<article>
<figure><img src="/images/img-tv-samsung-smart.jpg"></figure>
<section class="producto">
  <i class="fas fa-truck"></i>
<p class= "precios">$23.200</p>
<p class ="descuentos">5% off</p>
<h3 class="titulares-secundarios">SmartTv Samsung 43</h3>
</section>
</article>


  </section>
  
</main>
<!-- Footer -->
  <footer>
   <ul>
   	<li>
      <i class="fas fa-credit-card"></i>
      <h3>Pagá con tarjeta o en efectivo</h3>
      <p>
      Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
      puntos de pago. ¡Y siempre es seguro!
      </p>
    </li>
     
    <li>
      <i class="fas fa-gift"></i>
      <h3>Envío gratis desde $ 2.500</h3>
      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
      productos. Es un beneficio de Mercado Puntos.
      </p>
    </li>
     
    <li>
      <i class="fas fa-user-shield"></i>
      <h3>Seguridad, de principio a fin</h3>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
      porque estás siempre protegid@.
      </p>
    </li>
</ul>
<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
  
</footer>
  
    </body>
</html>